* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.text-center {
  text-align: center;
}

.horizontal-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.padding {
  padding: 20px;
}
