.text-thistle {
  color: #d5c6e0;
}

.bg-thistle {
  background-color: #d5c6e0;
}

.text-lavender-blush {
  color: #f5e6e8;
}

.bg-lavender-blush {
  background-color: #f5e6e8;
}

.text-rose-quartz {
  color: #aaa1c8;
}

.bg-rose-quartz {
  background-color: #aaa1c8;
}

.text-mountbatten-pink {
  color: #967aa1;
}

.bg-mountbatten-pink {
  background-color: #967aa1;
}

.text-space-cadet {
  color: #192a51;
}

.bg-space-cadet {
  background-color: #192a51;
}
